---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
---

<Layout title="Landing Page">
	<Showcase showExtra={true}/>
	<h1>hello world!</h1>
</Layout>